node_modules/
coverage/
expo-resources/
.expo
.vscode
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store*
.env*
scripts/dynamic-env/app.secrets.json
scripts/update-version/app.secrets.json
app.generated.json

# Virtual Env
#
reactenv/
scripts/update-version/app.secrets.json
environment.js
eas.json
